<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated san -->
      <package
            uri="http://San/1.0"
            class="San.SanPackage"
            genModel="resources/san.genmodel"/>
   </extension>

</plugin>
